@import "../../vars.css";

nav{
background: linear-gradient(90deg, var(--color-header-gradient-start) 21%, var(--color-header-gradient-end) 100%);
height: 80px;
padding: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
    padding: 15px 0;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}
.burger-icon {
    display: none;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

li {
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
li:hover {
    background-color: var(--color-navbar-menu-item-hover);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 770px) {
    nav {
        position: relative;
    }
    .nav-menu {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        right: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    li {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    li:hover {
        background-color: var(--color-navbar-menu-item-hover);
        border-radius: 0;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25% 50%);
    }
    .burger-icon {
        color: white;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-menu.active {
        background: var(--color-navbar-menu-active);
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .fa-times {
        color: white;
        font-size: 2rem;
    }
}