@import "../vars.css";

.info{
    align-items: center;
    width: 30em;
    height: 50vh;
    padding: 1rem;
    margin: 20px auto;
    background-color: var(--color-light-background);
    overflow-y: auto;
    border-radius: 3px;

    box-shadow:
        0 0.7px 2.2px rgba(0, 0, 0, 0.081),
        0 2.2px 7.4px rgba(0, 0, 0, 0.119),
        0 10px 33px rgba(0, 0, 0, 0.2);
}
