@import "../vars.css";

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /* background-color: red; */
}

.form-submit{
    font-size: larger;
    width: 30%;
    background-color: var(--color-navbar-menu-active);
    border-radius: 2px;
}

.form-submit:hover{
    background-color:var(--color-navbar-menu-item-hover);
}

.conversion-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.conversion-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}