@import "../vars.css";

.info-card{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    margin: 10px auto;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow:
        0 0.7px 2.2px rgba(0, 0, 0, 0.081),
        0 2.2px 7.4px rgba(0, 0, 0, 0.119),
        0 10px 33px rgba(0, 0, 0, 0.2);
}

.info-content{
    text-align: center;
}

.info-success{
    background: var(--color-success);
}
.info-success:hover{
    background: var(--color-success-hover);
}

.info-fail{
    background: var(--color-danger);
}
.info-fail:hover{
    background: var(--color-danger-hover);
}

.icon{
    padding: 0 10px;
    color: var(--color-dark-background);
}

.fail-icon{
    color: #990303
}

.success-icon{
    color: #017a0b;
}
