:root {
    --color-dark-background: #5d707fff;
    --color-submit: #8cdfd6ff;
    --color-submit-hover: #60d2c5;
    --color-success: #44EE96;
    --color-success-hover: #1FEA81;
    --color-danger: #ef7b6cff;
    --color-danger-hover: #ed6b5a;
    --color-warning: #ffd15cff;
    --color-warning-hover: #ffc533;
    --color-light-background: #f8e9e9ff;
    --color-header-gradient-start: rgba(43, 200, 184, 1);
    --color-header-gradient-end: rgba(0, 255, 186, 1);
    --color-navbar-menu-item-hover: #2bc8b8;
    --color-navbar-menu-active: #00ffba;

}